body {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 40px;
    margin: 0; 
}
nav a {
    color: #999999;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
 }
.title{
    color: #d43a3a;
}
.subtitle{
     color: #999999;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.card {
    background: #111  !important;
    border: 1px solid #222;
    border-left: 4px solid #ff2a2a;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-left: 4px solid white;
    box-shadow: 0 0 15px #ff2a2a33;
}

.card h3 {
    margin: 0;
    color:#ffffff;
}

.card p {
    margin: 5px 0;
    color: #999999;
}
.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff2a2a;
}