body {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 40px;
    margin: 0; 
}

nav a {
    color: #999999;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
 }


.about-page {
    max-width: 750px;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;      
    border: 1px solid #ff2a2a;
    background-color: #111111; 
    padding: 40px;
    animation: fadeIn 0.8s ease-in-out;
}
.about-page p{
    font-family: "BPG Mikheil Stefane", sans-serif;
    font-size: 18px;
}

.about-title {
    color: #ff2a2a;
    font-size: 42px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.about-text {
    color: #999999;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px; 
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
