body {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 40px;
    margin: 0; 
}

nav a {
    color: #999999;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
 }  
 .grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr; 
    gap: 50px;
}

   
.big-poster img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #222;
 }

      
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-posters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.small-posters img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #222;
}

.info-block {
    margin-top: 30px;
}
.info-block h1{
     font-family: "Montenegrin Gothic One", serif;
}

.tagline {
    color: #ff2a2a;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;        
}
.title {
    font-size: 45px;
    font-weight: normal;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
}

.description {
    color: #999999;
    font-size: 15px;
    margin-bottom: 20px;
}

.stars {
    color: #ffb400;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.stars span {
    color: #ffffff;
    font-size: 14px;
    margin-left: 5px;
}

.stars span em {
    color: #666666;
    font-style: normal;
}
@media (max-width: 768px) {

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .big-poster img {
    width: 100%;
    height: auto;
  }

  .right-side {
    width: 100%;
    text-align: center;
  }

  .small-posters {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .small-posters img {
    width: 45%;
    height: auto;
  }

}
