body {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 40px;
    margin: 0; 
}

nav a {
    color: #999999;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
 }

.bloopers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;            
    flex-wrap: wrap;        
    padding: 20px;
}
.blooper-card {
    text-align: center;
}
.blooper-card h2{
     font-family: "Yuyu Short", sans-serif;
     font-size: 60px;
}