/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

body {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 40px;
    margin: 0; 
}

nav a {
    color: #999999;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
 }

.bloopers-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;            
    -ms-flex-wrap: wrap;            
        flex-wrap: wrap;        
    padding: 20px;
}
.blooper-card {
    text-align: center;
}
.blooper-card h2{
    font-family: "Montenegrin Gothic One", serif;
    font-size: 40px;
}